{{#each this}}
    <li class="card-set-item">
        <button href="#" target="_blank" rel="noopener noreferrer">
            <img src="{{poster_path}}" alt="{{original_title}}" />
            <div>
                <h2>
                    {{original_title}}
                </h2>
                <p>
                    {{genres}}
                    |
                    {{release_date.split('-')[0]}}
                    {{vote_average}}
                </p>
            </div>       
        </button>
    </li>
{{/each}}